.newProf{
    background-color: red;
}
.addNew{
    background-color: red;
}

.btns{
    background-color: #002D72;
    position: absolute;
    float: right;
    top: 15px;
    right: 50px;
    color: white;
}

.btns:hover{
  color: red;
}

.btn2{
    width: 100%;
}

.form-popup {
    
    position: fixed;  
    width: 25%;  
    height: 85%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color:white; 
    border-radius: 25px;
    overflow:auto;
    text-align: center;

    display  : grid;
    grid-template-columns: 1fr 2fr;
   
  
  }
  
  input {
    width: 100%;
    padding: 12px 20px;
    padding-right: 100px;
    border-radius: 4px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .form-container{
      padding: 20px;
  }
 